Case_02.json
{
  "name": "Case 02",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9d4d140-251f-455a-a757-e2004e08222f",
              "name": "IdConversa",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "8001ef01-10a0-4a1b-b949-f08bc7f540c9",
              "name": "Mensagem",
              "value": "={{ $json.body.text.message }}",
              "type": "string"
            },
            {
              "id": "14e483ad-da62-4d50-9cc8-3e23f4518f53",
              "name": "Nome",
              "value": "={{ $json.body.chatName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        300,
        0
      ],
      "id": "1d2e3e8d-7c56-4605-96d1-a5aab939d7b2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1-6A0wRfOJQxx2yWDrOz6BWWWsiHIr1k6I3z2xGD1x3s",
          "mode": "list",
          "cachedResultName": "N8N - Planilha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-6A0wRfOJQxx2yWDrOz6BWWWsiHIr1k6I3z2xGD1x3s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1430534193,
          "mode": "list",
          "cachedResultName": "Case 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-6A0wRfOJQxx2yWDrOz6BWWWsiHIr1k6I3z2xGD1x3s/edit#gid=1430534193"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Whatsapp": "={{ $json.IdConversa }}",
            "Nome": "={{ $json.Nome }}"
          },
          "matchingColumns": [
            "Whatsapp"
          ],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Whatsapp",
              "displayName": "Whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        520,
        0
      ],
      "id": "3174c7db-9f7a-441a-89c7-8af7be501397",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Tn0BrQbhkhL4YNdG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.Mensagem }}",
        "options": {
          "systemMessage": "Você é um agente de suporte, seja educado, engraçado e utilize emojis em suas respostas para deixar a conversa mais humanizada"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        740,
        0
      ],
      "id": "79af595d-bc88-4101-a00d-574462029ab3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        560,
        260
      ],
      "id": "49c3aeec-cbda-4658-8b2f-5cd17f00b7ed",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "wqCL6mkEkwBHZGMY",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.IdConversa }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        740,
        260
      ],
      "id": "4a2f1223-c2a8-4855-9471-7ed6223bdf50",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1000,
        260
      ],
      "id": "5f4d5fd5-f74d-4f7c-9809-b7603c05994d",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        1180,
        260
      ],
      "id": "2eea6e14-a136-468a-b2cf-b9cec6f4a9fb",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "receber-mensagem-zapi",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -140,
        20
      ],
      "id": "8abbf7c0-5582-4a63-b758-48f5a291d7bf",
      "name": "Webhook",
      "webhookId": "1da3781a-f9ea-417e-b886-9bf0a66975e9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d9bb6877-1295-462e-80d8-058523ad0784",
              "leftValue": "={{ $json.body.isGroup }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "6a6671de-daa6-4bff-9b8d-250b7412127a",
              "leftValue": "={{ $json.body.isNewsletter }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "e7b5302a-2442-4f44-bffb-213c5562ca95",
              "leftValue": "={{ $json.body.broadcast }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "64ab3444-ca2c-4c49-ad29-bc22553e6007",
              "leftValue": "={{ $json.body.fromApi }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        20
      ],
      "id": "83430e77-b920-4af1-b9a4-1c881f69bfac",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        80,
        300
      ],
      "id": "08d9acad-54cc-4d64-90ba-0bf852e7eebb",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E0CBE6181B270B52102BACFCADE1553/token/70C72A15931AD2125C4ABE5E/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "Fa138300488da4fc5b518bf226b6e5d3fS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Edit Fields').item.json.IdConversa }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        0
      ],
      "id": "a406700d-c0a3-4b19-90c8-aec0004ec69a",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5bb7400f-0752-42f0-8059-d191492338d1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2cf46deaea9e237fa9ac382e41dab2e731b1cf27ec386f8ef6ea6b8cecead3ed"
  },
  "id": "BRHXFqbWeDbQoqYJ",
  "tags": []
}